@import url('https://fonts.googleapis.com/css2?family=Anta&family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anta&family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
	font-family: "Roboto", sans-serif;
}

.b-example-divider {
	width: 100%;
	border: solid rgba(0, 0, 0, .15);
	border-width: 1px 0;
	margin-top: 7vh;
}
.bebas-neue-regular {
	font-family: "Bebas Neue", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 80px;
	margin-top: 10vh;
}

.ic {
	font-family: "Roboto", sans-serif;
	font-weight: 600;
	font-style: normal;
	margin-left: 10vh;
}

.on {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #0D5A86;
}


.header-nav{
	align-items: center;
	display: flex;
	justify-content: space-between;
	background-color: #fcac00;
  }
  .header-menu{
	display: flex;
	list-style: none;
	margin-right: 7vh;
	font-size: 40px;
  }
  .header-menu-item{
	font-size: .875rem;
	margin-left: 1rem;
	text-decoration: none;
	color:#183153
  }

  .header-menu-item:hover{
	text-decoration: underline;
	text-underline-position: under;
	color: #fff;
  }


/*				BOTÃO INICIO				*/
.button {
	width: 150px;
	height: 40px;
	margin-top: 5vh;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 10px;
	background-color: #fcac00;
	border-radius: 30px;
	color: rgb(19, 19, 19);
	font-weight: 600;
	border: none;
	position: relative;
	cursor: pointer;
	transition-duration: .2s;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.116);
	padding-left: 8px;
	transition-duration: .5s;
}

.svgIcon {
	height: 25px;
	transition-duration: 1.5s;
}

.bell path {
	fill: rgb(19, 19, 19);
}

.button:hover {
	background-color: rgb(248, 199, 66);
	transition-duration: .5s;
}

.button:active {
	transform: scale(0.97);
	transition-duration: .2s;
}

.button:hover .svgIcon {
	transform: rotate(250deg);
	transition-duration: 1.5s;
}

/*				LAYOUT						*/
.layout {
	margin-top: 20vh;
}




/*			SOBRE				*/

.about {
	margin-left: 15vh;
}

.rotate {
	display: inline-block;
	animation: spin 2s linear infinite;
  }

  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }

/* Adicionando Regras de Mídia para Responsividade */
@media screen and (max-width: 768px) {
	.always {
		font-size: 2rem;
		width: auto;
	}
	.always span {
		font-size: 30px;
		margin-left: 20px;
	}
	.message {
		left: 150px;
	}
	.about {
		margin-left: 0;
	}
}

/*				Serviços				*/
.services svg {
	padding-right: 2vh;
	color:rgb(248, 199, 66);
}



/*			LOADER			*/
.dot-spinner {
	--uib-size: 2.8rem;
	--uib-speed: .9s;
	--uib-color: #183153;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	height: var(--uib-size);
	width: var(--uib-size);
  }
  
  .dot-spinner__dot {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	height: 100%;
	width: 100%;
  }
  
  .dot-spinner__dot::before {
	content: '';
	height: 20%;
	width: 20%;
	border-radius: 50%;
	background-color: var(--uib-color);
	transform: scale(0);
	opacity: 0.5;
	animation: pulse0112 calc(var(--uib-speed) * 1.111) ease-in-out infinite;
	box-shadow: 0 0 20px rgba(18, 31, 53, 0.3);
  }
  
  .dot-spinner__dot:nth-child(2) {
	transform: rotate(45deg);
  }
  
  .dot-spinner__dot:nth-child(2)::before {
	animation-delay: calc(var(--uib-speed) * -0.875);
  }
  
  .dot-spinner__dot:nth-child(3) {
	transform: rotate(90deg);
  }
  
  .dot-spinner__dot:nth-child(3)::before {
	animation-delay: calc(var(--uib-speed) * -0.75);
  }
  
  .dot-spinner__dot:nth-child(4) {
	transform: rotate(135deg);
  }
  
  .dot-spinner__dot:nth-child(4)::before {
	animation-delay: calc(var(--uib-speed) * -0.625);
  }
  
  .dot-spinner__dot:nth-child(5) {
	transform: rotate(180deg);
  }
  
  .dot-spinner__dot:nth-child(5)::before {
	animation-delay: calc(var(--uib-speed) * -0.5);
  }
  
  .dot-spinner__dot:nth-child(6) {
	transform: rotate(225deg);
  }
  
  .dot-spinner__dot:nth-child(6)::before {
	animation-delay: calc(var(--uib-speed) * -0.375);
  }
  
  .dot-spinner__dot:nth-child(7) {
	transform: rotate(270deg);
  }
  
  .dot-spinner__dot:nth-child(7)::before {
	animation-delay: calc(var(--uib-speed) * -0.25);
  }
  
  .dot-spinner__dot:nth-child(8) {
	transform: rotate(315deg);
  }
  
  .dot-spinner__dot:nth-child(8)::before {
	animation-delay: calc(var(--uib-speed) * -0.125);
  }
  
  @keyframes pulse0112 {
	0%,
	100% {
	  transform: scale(0);
	  opacity: 0.5;
	}
  
	50% {
	  transform: scale(1);
	  opacity: 1;
	}
  }
  

  .fade-in {
    opacity: 0;
    animation: fadeIn ease-in-out 1;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*			CONTATO			*/
.contact button {
	background-color: #0dbac0;
	color: #fff;
	border: none;
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
	border-radius: 3rem;
}

.contact button:hover {
	background-color: #10aaf1;
}


/* Inspired by twitter.com/marina_uiux */
.submit {
	width: 120px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 12px;
	cursor: pointer;
	border: 3px solid rgb(13, 186, 192);
	background-color: rgb(13, 186, 192);
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.137);
  }
  
  .text {
	width: 70%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: transparent;
	color: black;
  }
  
  .arrow path {
	fill: rgb(19, 19, 19);
  }
  
  .submit:hover .arrow {
	animation: slide-in-left 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  
  @keyframes slide-in-left {
	0% {
	  transform: translateX(-8px);
	  opacity: 0;
	}
  
	100% {
	  transform: translateX(0px);
	  opacity: 1;
	}
  }
  
  .submit:active {
	transform: scale(0.97);
  }