@import url('https://fonts.googleapis.com/css2?family=Anta&family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anta&family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
	font-family: "Roboto", sans-serif;
}

/*				HEADER					*/
.container h1 {
	font-size: 8vh;
  }

  .b-example-divider {
	width: 100%;
	border: solid rgba(0, 0, 0, .15);
	border-width: 1px 0;
	margin-top: 7vh;
  }

  .beb2e7as-neue-regular {
	font-family: "Bebas Neue", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 4vw; /* Ajustado para ser responsivo */
	margin-top: 10vh;
  }

  .ic {
	font-family: "Roboto", sans-serif;
	font-weight: 600;
	font-style: normal;
	margin-left: 3vw; /* Ajustado para ser responsivo */
	color: white;
  }

  .on {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-style: normal;
	color: rgb(248, 199, 66);
  }

  .header-nav {
	align-items: center;
	display: flex;
	justify-content: space-between;
	background-color: #2E4A53;
	padding: 1rem; /* Adicionado padding para melhor visualização */
  }

  .header-menu {
	align-items: end;
	display: flex;
	list-style: none;
	align-items: center;
	margin-right: 3vw; /* Ajustado para ser responsivo */
	font-size: 3vh; /* Ajustado para ser responsivo */
  }

  .header-menu-item {
	margin-left: 1rem;
	text-decoration: none;
	color: rgb(248, 199, 66) !important; /* Cor dos links */
  }

  .header-menu-item:hover {
	text-decoration: underline;
	text-underline-position: under;
	color: #fff;
  }

  @media screen and (max-width: 768px) {
	.beb2e7as-neue-regular {
	  font-size: 6vw; /* Ajustado para ser responsivo em telas menores */
	}

	.ic {
	  font-size: 5vw; /* Ajustado para ser responsivo em telas menores */
	}

	.header-menu {
	  display: none; /* Oculta o menu principal em telas menores */
	}

	.header-nav {
	  justify-content: flex-start; /* Ajusta a posição do logo em telas menores */
	}

	.dropdown-toggle {
	  color: white;
	  text-decoration: none;
	
	}

	.dropdown-toggle:hover {
	  text-decoration: underline;
	}

	.dropdown-menu .dropdown-item {
	  color: #2E4A53; /* Cor dos itens do dropdown */
	}

	.dropdown-menu .dropdown-item:hover {
	  color: #fff;
	  background-color: #2E4A53; /* Cor de fundo dos itens do dropdown ao passar o mouse */
	}
  }



/*				BOTÃO INICIO				*/
 /* BOTÃO INICIO */
 .button {
	width: 30vw; /* Ajustado para ser responsivo */
	max-width: 150px; /* Limita a largura máxima */
	height: 6vh; /* Ajustado para ser responsivo */
	margin-top: 5vh;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 10px;
	background-color: rgb(248, 199, 66);
	border-radius: 30px;
	color: rgb(19, 19, 19);
	font-weight: 600;
	border: none;
	position: relative;
	cursor: pointer;
	transition-duration: .2s;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.116);
	padding-left: 8px;
  }

  .svgIcon {
	height: 25px;
	transition-duration: 1.5s;
  }

  .bell path {
	fill: rgb(19, 19, 19);
  }

  .button:hover {
	background-color: rgb(248, 199, 66);
	transition-duration: .5s;
  }

  .button:active {
	transform: scale(0.97);
	transition-duration: .2s;
  }

  .button:hover .svgIcon {
	transform: rotate(250deg);
	transition-duration: 1.5s;
  }

  /* Layout */
  .layout {
	margin-top: 20vh; /* Ajustado para ser responsivo */
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
  }

  .layout h1 {
	font-size: 5vw; /* Ajustado para ser responsivo */
	margin: 2vh 0; /* Ajustado para ser responsivo */
	width: auto;
  }

  .layout img {
	width: 60vw; /* Ajustado para ser responsivo */
	max-width: 600px; /* Limita a largura máxima */
	height: auto;
	margin: 0vh 25vh; /* Ajustado para ser responsivo */
  }

  @media screen and (max-width: 768px) {
	.button {
	  width: 80vw; /* Ajustado para ser responsivo em telas menores */
	}

	.layout {
	  margin-top: 20vh; /* Ajustado para ser responsivo */
	}

	.layout h1 {
	  font-size: 9vw; /* Ajustado para ser responsivo em telas menores */
	  margin: 3vh 0; /* Ajustado para ser responsivo */
	}

	.layout img {
	  width: 80vw; /* Ajustado para ser responsivo em telas menores */
	  max-width: 300px; /* Limita a largura máxima */
	  height: auto;
	  margin: 3vh 0; /* Ajustado para ser responsivo */
	}
  }


/*			SOBRE				*/

.about {
	margin-left: 15vh;
}

.about h1{
	font-size: 8vh;
}

.about h3 {
	font-size: 5vh;
}


.rotate {
	display: inline-block;
	animation: spin 2s linear infinite;
	color:rgb(248, 199, 66);
  }

  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }

/* Adicionando Regras de Mídia para Responsividade */
@media screen and (max-width: 768px) {
	.always {
		font-size: 2rem;
		width: auto;
	}
	.always span {
		font-size: 30px;
		margin-left: 20px;
	}
	.message {
		left: 150px;
	}
	.about {
		margin-left: 0;
	}
}


/*				Serviços				*/
.services {
	margin-left: 15vh;
	margin-right: 10vh;
	margin-top: 5vh;
}


.services h2 {
    border-bottom: none; /* Remove a linha abaixo do título "Serviços" */
  }

  .services svg {
    padding-right: 2vh;
    color: rgb(248, 199, 66);
  }

  .fade-in {
    opacity: 0;
    animation: fadeIn ease-in-out 1;
    animation-fill-mode: forwards;
    animation-duration: 1s;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  /* Responsividade */
  @media screen and (max-width: 768px) {
    .services .row-cols-1,
    .services .row-cols-sm-2,
    .services .row-cols-md-3,
    .services .row-cols-lg-4 {
      justify-content: center;
    }

    .services .col {
      flex: 0 0 90%; /* Largura das colunas ajustada para telas menores */
      max-width: 90%; /* Largura máxima das colunas ajustada para telas menores */
      margin-bottom: 20px; /* Espaçamento entre as colunas */
    }

    .services h2 {
      font-size: 6vw; /* Tamanho da fonte do título ajustado para telas menores */
    }

    .services .fs-4 {
      font-size: 4vw; /* Tamanho da fonte dos parágrafos ajustado para telas menores */
    }
  }

  @media screen and (min-width: 992px) {
    .services .row-cols-1,
    .services .row-cols-sm-2,
    .services .row-cols-md-3,
    .services .row-cols-lg-4 {
      justify-content: space-between; /* Itens ocupam mais largura da página */
    }

    .services .col {
      flex: 0 0 23%; /* Ajuste da largura das colunas para ocupar mais espaço */
      max-width: 23%; /* Largura máxima das colunas */
      margin-bottom: 20px; /* Espaçamento entre as colunas */
    }
  }


/*			CONTATO			*/
.contact {
  margin-top: 5vh;
  margin-bottom: 30vh;
}

.text,
.words,
.cursor {
  margin-top: 4vh;
  display: inline-block;
  justify-content: center;
  letter-spacing: 0.2rem;
  color: rgb(19, 19, 19);
  line-height: 10vh;
  width: 100%;
}

.char {
  color: rgb(248, 199, 66);
}

.words,
.cursor {
  animation: blink 0.5s step-end infinite alternate;
}

@keyframes blink {
  50% {
    border-color: transparent;
    color: transparent;
  }
}

@media (min-width: 600px) {
  .text,
  .words,
  .cursor {
    font-size: 6vh;
  }
}

@media (min-width: 900px) {
  .text,
  .words,
  .cursor {
    font-size: 8vh;
  }
}

@media (min-width: 1200px) {
  .text,
  .words,
  .cursor {
    font-size: 11vh;
  }
}

@media (min-width: 1600px) {
  .text,
  .words,
  .cursor {
    font-size: 14vh;
  }
}

/* 		Botão de Contato		 */
/*				BOTÃO CONTATO				*/
.email, .wpp{
	margin-top: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 9px 12px;
	gap: 8px;
	height: 40px;
	width: 170px;
	border: none;
	background: rgb(248, 199, 66);
	border-radius: 20px;
	cursor: pointer;
  }
  .wpp {
	width: 350px;
  }
  .svg-icon {
  color: black;
  }
  
  .lable {
	line-height: 22px;
	font-size: 17px;
	color: #000;
	font-family: sans-serif;
	letter-spacing: 1px;
  }
  
  .email:hover, .wpp:hover {
	background: #2e4a5373;
  }
  
  .email:hover .svg-icon, .wpp:hover .svg-icon {
	animation: slope 1s linear infinite;
  }
  
  @keyframes slope {
	0% {
	}
  
	50% {
	  transform: rotate(10deg);
	}
  
	100% {
	}
  }

/*			FOOTER			*/
footer {
	justify-content: center;
	align-items: center;
	display: flex;
	height: 20vh;
	background-color: #2E4A53;
	color:#FFF;
}